@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500&family=Quicksand:wght@300;400;500&family=Raleway:wght@200;400;500&display=swap');@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Quicksand:wght@300;400;500&family=Raleway:wght@100;200&display=swap");


html{
   width:1440px;
   height:2000px;
   box-sizing: border-box;
   border: 1px solid black;
}
*,*:before,*:after{
    box-sizing: inherit;
}


.headflex{
    display:flex; 
}
.headtitle{
    display:block;
    width: 198px;
    height: 72px;
    margin-left: 223px;
    margin-top: 37px;
    text-align: center;
    line-height: 72px;
    text-decoration: none;
    color: black;
    font-size: 36px;
    letter-spacing: 1px;
}
.button-list{
    display: flex;
    margin-top: 54px;
}
.nav-list-item{
    list-style: none;
}
.btn{
    display: block;
    height: 38px;
    color: #999999;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 265px;
    text-align: center;
    line-height: 38px;
    transition: 0.5s;
}
.btn:hover{
    transition: 0.5s;
    color: black;
}
.button1{
    width: 137px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 35px;
    font-weight: normal;;
}
.button2{
    width:90px;
    margin-left: 30px;
}
.button3{
    width:74px;
    margin-left: 30px;
}
.button4{
    width:139px;
    margin-left: 30px;
    margin-right: 224px;
}
/* body */
body{
    margin: 0;
    padding: 0;
}
.cover{
    width: 1440px;
    height: 880px;
    background-color: #cccccc;
    margin: 0;
    padding: 0;
    margin-top: 88px;
}
.picplace{
    display: flex;
}
.pic{
    width: 335px;
    height: 188px;
    background-color: #a6a6a6;
    margin-top: 179px;
    text-decoration: none;
}
.picture1{
    margin-left: 109px;
}
.picture2{
    margin-left: 109px;
}
.picture3{
    margin-left: 109px;
    margin-right: 110px;
}
.name{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    color: black;
    margin-left: 160px;
    margin-top: 27px;
}
.intro{
    text-decoration: none;
    color: black;
}
.name2{
    margin: 229px;
}
.name3{
    margin-left: -66px;
}

/* footer */
footer{
    margin: 0;
    padding: 0;
}
nav{
    width: 200px;
    height: 60px;
    margin-left: 620px;
    margin-top: 263px;
}
nav ul{
    display:flex;
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    justify-content:space-around;
}
nav ul li a{
    text-decoration:none;
    color: #999999;
    display: block;
    transition: 0.5s;
}
nav ul li a:hover{
    color: black;
    transition: 0.5s;
}
.nav-icon{
    width: 200px;
}
.fa{
    margin-left: 5px;
}
.fa-facebook{
    margin-left: 15px;
}

.footer_text{
    text-align: center;
    margin-top: 28px;
}
.text{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    line-height: 5px;
}
.student{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    margin-top: 55px;
}