@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500&family=Quicksand:wght@300;400;500&family=Raleway:wght@200;400;500&display=swap');@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Quicksand:wght@300;400;500&family=Raleway:wght@100;200&display=swap");


html{
   width:1440px;
   height:2000px;
   box-sizing: border-box;
   border: 1px solid black;
}
*,*:before,*:after{
    box-sizing: inherit;
}


.headflex{
    display:flex; 
}
.headtitle{
    display:block;
    width: 198px;
    height: 72px;
    margin-left: 223px;
    margin-top: 37px;
    /* border:1px solid black; */
    text-align: center;
    line-height: 72px;
    text-decoration: none;
    color: black;
    font-size: 36px;
    letter-spacing: 1px;
}
.button-list{
    display: flex;
    margin-top: 54px;
}
.nav-list-item{
    list-style: none;
}
.btn{
    display: block;
    height: 38px;
    /* border: 1px solid black; */
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 265px;
    text-align: center;
    line-height: 38px;
}
.button1{
    width: 137px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 35px;
    font-weight: normal;;
}
.button2{
    width:90px;
    margin-left: 30px;
}
.button3{
    width:74px;
    margin-left: 30px;
}
.button4{
    width:139px;
    margin-left: 30px;
    margin-right: 224px;
}
body{
    margin: 0;
    padding: 0;
}
.cover{
    width: 1440px;
    height: 880px;
    background-color: #cccccc;
    margin: 0;
    padding: 0;
    margin-top: 88px;
}
.picplace{
    display: flex;
}
.pic{
    width: 335px;
    height: 188px;
    background-color: #a6a6a6;
    margin-top: 256px;
    text-decoration: none;
}
.picture1{
    margin-left: 109px;
}
.picture2{
    margin-left: 109px;
}
.picture3{
    margin-left: 109px;
    margin-right: 110px;
}
.name{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
    text-align: center;
    margin-top: 216px;
}
.icon{
    margin-top: 241px;
}
.icon_list{
    display:flex;
    
}
.icon_item{
    list-style: none;
}
.icon_item-link{
    
}
.icon_item-image{
    
   
}
.icon1{
    margin-left: 595px;
    height:30px;
    
}
.icon2{
    margin-left: 11px;
}
.icon3{
    margin-left: 12px;
}
.icon4{
    margin-left: 14px;
}
.footer_text{
    text-align: center;
}
.text{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
}